{% extends 'base.html.twig' %}

{% block title %}Hello ScrapperController!{% endblock %}

{% block body %}<header>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg btn-light">
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                    <i style="color: #33b5e5" class="fas fa-print"></i> Scrapper
                </a>
            </li>

        </ul>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-3"></div>
        </div>
    </nav>

    <!--/.Navbar -->
</header>


    <!--Main Navigation-->

    <!--Main layout-->
    <main>




    <!-- Grid container -->
    <div class="container my-4">

        <!--Grid row-->
        <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-6">

                <!-- Material card -->
                <div class="card">

                    <!-- Header -->
                    <h5 class="card-header info-color white-text text-center py-4">
                        <strong>Upload your csv File</strong>
                    </h5>

                    <!--Card content-->
                    <div class="card-body">
                        {{ response }}
                        {{ form_start(form, {attr: {class: 'md-form'} }) }}

                        {{ form_row(form.link,{attr: {class: 'form-control mb-4'}}) }}
                        {{ form_row(form.categorie,{attr: {class: 'form-control mb-4'}}) }}


                        <select class="browser-default custom-select" id="media_categorie" name="media[categorie]">
                            <option value="0"></option><option style="color: black" value="1">Véhicules</option><option style="color: black" value="9">&nbsp;&nbsp;&nbsp;Voitures  سيارات</option><option style="color: black" value="10">&nbsp;&nbsp;&nbsp;Motos دراجات نارية</option><option style="color: black" value="11">&nbsp;&nbsp;&nbsp;Pièces et Accessoires قطع غيار </option><option style="color: black" value="13">&nbsp;&nbsp;&nbsp;Remorques المركبات الثقيلة</option><option style="color: black" value="16">&nbsp;&nbsp;&nbsp;Autre</option><option style="color: black" value="17">Immobilier</option><option style="color: black" value="18">&nbsp;&nbsp;&nbsp;Appartements شقة للإيجار </option><option style="color: black" value="19">&nbsp;&nbsp;&nbsp;Maisons et Villas فيلا / بيت للإيجار</option><option style="color: black" value="21">&nbsp;&nbsp;&nbsp;Bureaux et Plateaux  مكاتب</option><option style="color: black" value="22">&nbsp;&nbsp;&nbsp;Magasins Commerces  محلات</option><option style="color: black" value="23">&nbsp;&nbsp;&nbsp;Terrains et Fermes أرض للبيع </option><option style="color: black" value="24">&nbsp;&nbsp;&nbsp;Autre Immobilier عقارات اخرى</option><option style="color: black" value="26">Maison et Jardin</option><option style="color: black" value="27">&nbsp;&nbsp;&nbsp;Appareils ménagers الأجهزة المنزلية</option><option style="color: black" value="28">&nbsp;&nbsp;&nbsp;Meubles  أثاث</option><option style="color: black" value="29">&nbsp;&nbsp;&nbsp;Articles de cuisine أدوات المطبخ</option><option style="color: black" value="31">&nbsp;&nbsp;&nbsp;Réparation إصلاح</option><option style="color: black" value="32">&nbsp;&nbsp;&nbsp;Plantes النباتات</option><option style="color: black" value="37">Informatique et Multimedia</option><option style="color: black" value="38">&nbsp;&nbsp;&nbsp;Téléphones  هواتف محمولة</option><option style="color: black" value="39">&nbsp;&nbsp;&nbsp;Matériel informatique إلكترونيات</option><option style="color: black" value="40">&nbsp;&nbsp;&nbsp;Ordinateurs كمبيوترات </option><option style="color: black" value="42">&nbsp;&nbsp;&nbsp;Jeux et logiciels ألعاب</option><option style="color: black" value="43">&nbsp;&nbsp;&nbsp;Audio et vidéo كاميرات و تصوير</option><option style="color: black" value="47">Emploi</option><option style="color: black" value="48">&nbsp;&nbsp;&nbsp;Offres d'emploi عروض العمل</option><option style="color: black" value="49">&nbsp;&nbsp;&nbsp;Demandes d'emploi طلبات العمل</option><option style="color: black" value="50">Services</option><option style="color: black" value="51">&nbsp;&nbsp;&nbsp;Proposition de services الخدمات</option><option style="color: black" value="52">&nbsp;&nbsp;&nbsp;Cours et Formations الدورات والتدريب</option><option style="color: black" value="53">Loisirs Et Divertissement</option><option style="color: black" value="54">&nbsp;&nbsp;&nbsp;Sports et Loisirs معدات رياضية</option><option style="color: black" value="56">&nbsp;&nbsp;&nbsp;Voyages et Billetterie السفر والتذاكر</option><option style="color: black" value="57">&nbsp;&nbsp;&nbsp;vélos الدراجات الهوائية</option><option style="color: black" value="58">&nbsp;&nbsp;&nbsp;Chasse et pêche الصيد</option><option style="color: black" value="59">&nbsp;&nbsp;&nbsp;Instruments de musique آلات موسيقية</option><option style="color: black" value="61">Mode &amp; Beauté</option><option style="color: black" value="62">&nbsp;&nbsp;&nbsp;Vêtements et accessoires الملابس </option><option style="color: black" value="63">&nbsp;&nbsp;&nbsp;Vêtements pour Enfant ملابس اطفال</option><option style="color: black" value="64">&nbsp;&nbsp;&nbsp;Equipements Pour Enfant معدات للأطفال</option><option style="color: black" value="65">&nbsp;&nbsp;&nbsp;Montres et Bijoux مجوهرات و ساعات</option><option style="color: black" value="66">&nbsp;&nbsp;&nbsp;Sacs et Accessoires حقائب واكسسوارات</option><option style="color: black" value="67">&nbsp;&nbsp;&nbsp;chaussures أحذية</option><option style="color: black" value="68">&nbsp;&nbsp;&nbsp;Santé - Beauté صحة - جمال </option><option style="color: black" value="69">Animaux</option><option style="color: black" value="76">Autre آخر</option>
                        </select>
                        <button id="btnStart" class="btn btn-outline-info btn-rounded btn-block waves-effect z-depth-0 mb-2">Click
                            to upload</button>
                        {{ form_end(form) }}

                        <!-- Action button -->


                    </div>

                </div>
                <!-- Material card -->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


        <!-- Heading element to display the result -->
        <h2 id="demo" class="my-5 h2 text-center" style="color: #666;"></h2>

    </div>
    </main>
    <!-- Grid container -->
{% endblock %}
